In [2]:
import pandas as pd
import numpy as np

* ## json 使用

In [24]:
# json 样式数据样例(已 pd.get_dummies )如下
js = {
    "CODE_GENDER": 1.0,
    "FLAG_OWN_CAR": 1.0,
    "FLAG_OWN_REALTY": 0.0,
    "AMT_INCOME_TOTAL": 120000,
    "age": 41,
    "work_year": 21,
    "FLAG_PHONE": 1.0,
    "month_on_book": 12,
    "marriage_status": 1.0,
    "NAME_INCOME_TYPE_Commercial associate": 1.0,
    "NAME_INCOME_TYPE_Pensioner": 0.0,
    "NAME_INCOME_TYPE_State servant": 0.0,
    "NAME_INCOME_TYPE_Student": 0.0,
    "NAME_INCOME_TYPE_Working": 0.0,
    "NAME_EDUCATION_TYPE_Academic degree": 0.0,
    "NAME_EDUCATION_TYPE_Higher education": 0.0,
    "NAME_EDUCATION_TYPE_Incomplete higher": 0.0,
    "NAME_EDUCATION_TYPE_Lower secondary": 0.0,
    "NAME_EDUCATION_TYPE_Secondary / secondary special": 0.0,
    "OCCUPATION_TYPE_Accountants": 0.0,
    "OCCUPATION_TYPE_Cleaning staff": 0.0,
    "OCCUPATION_TYPE_Cooking staff": 0.0,
    "OCCUPATION_TYPE_Core staff": 0.0,
    "OCCUPATION_TYPE_Drivers": 0.0,
    "OCCUPATION_TYPE_HR staff": 0.0,
    "OCCUPATION_TYPE_High skill tech staff": 0.0,
    "OCCUPATION_TYPE_IT staff": 0.0,
    "OCCUPATION_TYPE_Laborers": 0.0,
    "OCCUPATION_TYPE_Low-skill Laborers": 0.0,
    "OCCUPATION_TYPE_Managers": 1.0,
    "OCCUPATION_TYPE_Medicine staff": 0.0,
    "OCCUPATION_TYPE_Private service staff": 0.0,
    "OCCUPATION_TYPE_Realty agents": 0.0,
    "OCCUPATION_TYPE_Sales staff": 0.0,
    "OCCUPATION_TYPE_Secretaries": 0.0,
    "OCCUPATION_TYPE_Security staff": 0.0,
    "OCCUPATION_TYPE_Waiters / barmen staff": 0.0,
    "OCCUPATION_TYPE_unknown": 0.0,
    "CNT_FAM_MEMBERS_1.0": 0.0,
    "CNT_FAM_MEMBERS_2.0": 0.0,
    "CNT_FAM_MEMBERS_more": 1.0
}
# 数据转化为 DataFrame
df = pd.json_normalize(js)
df

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,age,work_year,FLAG_PHONE,month_on_book,marriage_status,NAME_INCOME_TYPE_Commercial associate,...,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters / barmen staff,OCCUPATION_TYPE_unknown,CNT_FAM_MEMBERS_1.0,CNT_FAM_MEMBERS_2.0,CNT_FAM_MEMBERS_more
0,1.0,1.0,0.0,120000,41,21,1.0,12,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

* ## 布尔型变量
  1. CODE_GENDER: 性别
  2. FLAG_OWN_CAR: 是否有车
  3. FLAG_OWN_REALTY: 是否有不动产
  4. FLAG_PHONE：是否有手机
  5. marriage_status：是否结婚
* ## 多分类变量
  * ### NAME_INCOME_TYPE：收入类型
   1. 'Working'
   2. 'Commercial associate'
   3. 'Pensioner'
   4. 'State servant'
   5. 'Student'
   <br>
  * ### NAME_EDUCATION_TYPE：教育程度
   1. 'Higher education'
   2. 'Secondary / secondary special'
   3. 'Incomplete higher'
   4. 'Lower secondary'
   5. 'Academic degree'
   <br>
  * ### OCCUPATION_TYPE：工作类型
   1. 'unknown'
   2. 'Security staff'
   3. 'Sales staff'
   4. 'Accountants',
   5. 'Laborers'
   6. 'Managers'
   7. 'Drivers'
   8. 'Core staff'
   9. 'High skill tech staff'
   10. 'Cleaning staff'
   11. 'Private service staff'
   12. 'Cooking staff'
   13. 'Low-skill Laborers'
   14. 'Medicine staff',
   15. 'Secretaries'
   16. 'Waiters/barmen staff'
   17. 'HR staff'
   18. 'Realty agents',
   19. 'IT staff'
   <br>
  * ### CNT_FAM_MEMBERS：家庭人数
   1. 2.0 (两个人)
   2. 1.0 （一个人）
   3. 'more' （更多）
* ## 连续型变量
   1. AMT_INCOME_TOTAL：年收入总量
   2. work_year：工龄
   3. month_on_book：开户至今过了多少月
   4. age：年龄

* ## 模型使用

In [21]:
import pickle

In [39]:
with open('models/lightgbm.pickle', 'rb') as md:
    model = pickle.load(md)

In [40]:
model.predict(df)

array([0])